:root {
  --width: 100%;
  --fontfamily: "Lato";
}

* {
  box-sizing: border-box;
}

body, html {
  width: var(--width);
  max-width: var(--width);
  margin: 0;
  padding: 0;
  height: 3000px;
}

.container-hero {
  width: var(--width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

#hero {
  width: var(--width);
  background: linear-gradient(to right,#2A4032 , #3A5E46);
  position: relative;
}

.hero-top {
  padding: 5px 0 0 15px;
  margin-top: -20px;
}

.hero-year {
  font-family: var(--fontfamily);
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
  color: #FFFFFF4D;
  margin-bottom: 15px;
}

h2 {
  font-family: var(--fontfamily);
  font-size: 60px;
  font-weight: 900;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: -5px;
}

.hero-subtitle {
  font-family: var(--fontfamily);
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFFCC;
  margin-bottom: 40px;
}

.hero-button {
  font-family: var(--fontfamily);
  font-size: 14px;
  font-weight: 400;
  color: #181818;
  text-align: center;
  background-color: #FDDE67;
  border-radius: 6px;
  padding: 16px 40px;
  border: none;
  z-index: 5;
  text-decoration-line: none;
  position: absolute;
  top: 36.5%;
}

.pic-collection {
  position: relative;
  width: 305.56px;
  height: 391px;
  margin: -30px auto;
  /* background-color: aqua; */
}

.circle1 {
  width: 192.63px;
  height: 192.63px;
  background-color: #1B2D22;
  border-radius: 50%;
  position: absolute;
  left: 105px;
  top: 78px;
}

.circle2 {
  width: 198.55px;
  height: 198.55px;
  background-color: #1B2D22;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 140px;
}

.pic-collection input {
  display: none;
}

.pic-collection .images {
  position: relative;
}

.pic-collection .images img {
  position: absolute;
  left: 50px;
  top: 30px;
  width: 208px;
  height: 391px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#item1:checked ~ .images img:nth-of-type(1) {
  opacity: 1;
}

#item2:checked ~ .images img:nth-of-type(2) {
  opacity: 1;
}

#item3:checked ~ .images img:nth-of-type(3) {
  opacity: 1;
}

.select-img {
  position: absolute;
  top: 337px;
  left: 120px;
  display: flex;
  gap: 17px;
}

.select-size {
  width: 14px;
  height: 14px;
  background-color: #FFFFFF33;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

#item1:checked ~ .select-img label:nth-child(1),
#item2:checked ~ .select-img label:nth-child(2),
#item3:checked ~ .select-img label:nth-child(3) {
  background-color: white;
  transform: scale(1.2);
}

.horizontal-menu {
  width: var(--width);
  background-color: #FDDE67;
  position: sticky;
  z-index: 5;
  margin: 0;
  
}

.horizontal-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  margin: 0;
}

.discount{
  display: none;
}

.menu-img {
  width: 24px;
  height: 24px;
}

#brands{
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background-color: #181818;
  justify-content: space-between;
}

#brands ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  padding: 0  0;
  margin: 0;
}

#brands li{
  color: #FFFFFF;
}


@media (max-width: 999px) {
  body, .container {
    width: 360px;
    margin: 0 auto;
  }

  .desktop-header{
    display: none;
  }
  
}



@media (min-width:1000px) {
  body, html{
    width: var(--width);
    /* max-width: 1540px; */
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

 .container-hero{
   width: var(--width);
   max-width: 1320px;
   margin-left: auto;
   margin-right: auto;
 }

 #hero{
  background: linear-gradient(to right,#2A4032 , #3A5E46);
 }

 .horizontal-menu{
  display: none;
 }

.desktop-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .desktop-title{
  font-family: var(--fontfamily);
  font-size: 36px;
  font-weight: 900;
  color: #FFFFFF;
 }

 .shopping-img{
  width: 40px;
  height: 40px;
 }
 
 .menu-desktop ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 0;
  padding: 0;
 }

 .menu-desktop li{
  font-family: var(--fontfamily);
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF4D;
 }

 .menu-desktop li:hover {
  color: #FFFFFF;
 }

 .hero-year {
  font-family: var(--fontfamily);
  font-weight: 400;
  font-size: 60px;
  /* font-style: italic; */
  color: #FFFFFF4D;
  margin-bottom: 15px;
  padding-left: 10px;
}

h2 {
  font-family: var(--fontfamily);
  font-size: 112px;
  font-weight: 900;
  line-height: 100px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 500px;
  letter-spacing: 13px;
}

.hero-subtitle {
  font-family: var(--fontfamily);
  font-size: 25px;
  font-weight: 400;
  color: #FFFFFFCC;
  line-height: 100%;
  margin-bottom: 40px;
}

.hero-button {
  font-family: var(--fontfamily);
  font-size: 14px;
  font-weight: 400;
  color: #181818;
  text-align: center;
  background-color: #FDDE67;
  border-radius: 6px;
  padding: 16px 40px;
  border: none; 
  text-decoration-line: none;
  margin-top: 20%;
}

.img-autumn{
  width: 342.16px;
  height: 619.63px;
}
.pic-collection .images {
  position: relative;
  width: 100%;
  height: 100%;
}

.pic-collection .images img {
  position: absolute;
  left: 27%;
  top: 0;
  width: 342.16px;
  height: 619.63px;
}
.pic-collection {
  position: relative;
  width: 758px;
  height: 619.63px;
  margin-left: 43%;
  margin-top: -32%;
  overflow: visible;
  /* background-color: aqua; */
} 

.circle1 {
  width: 308.6px;
  height: 308.6px;
  background-color: #1B2D22;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  top: 20%;
}

.circle2 {
  width: 308.6px;
  height: 308.6px;
  background-color: #1B2D22;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: 37%;
}

.select-img {
  position: absolute;
  top: 40%;
  left: 93%; 
  transform: translateY(-50%); 
  display: flex;
  flex-direction: column; 
  gap: 18px;
  margin-left: 20px; 
}

.discount{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  color: #181818;
  background-color: #FDDE67;
  display: inline-block;
  text-align: center; 
  padding-top: 30px;
  position: absolute;
  top: 18%;
  left: 27%;
}

.percent{
  display: block;
}

.off{
  display: block;
}

.price{
  font-family: var(--fontfamily);
  font-size: 36px;
  font-weight: 500;
  line-height: 100%;
  color: #FFFFFF;
  position: absolute;
  top: -66%;
  left: -50%;
}


#brands{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  padding:30px 30px;
}

#brands ul{
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  gap: 80px;
}

#brands li{
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

#brand img{
  object-fit: contain;
}
}