:root {
  --width: 100%;
  --fontfamily: "Lato";
}

* {
  box-sizing: border-box;
}

body {
  width: var(--width);
  margin: 0;
  height: 3000px;
}

.container {
  width: var(--width);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  width: var(--width);
  height: 640px;
  background: linear-gradient(#2A4032, #3A5E46);
}

.hero-top {
  padding: 5px 0 0 15px;
  margin-top: -20;
}

.hero-year {
  font-family: var(--fontfamily);
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
  color: #FFFFFF4D;
  margin-bottom: 15px;
}

h2 {
  font-family: var(--fontfamily);
  font-size: 60px;
  font-weight: 900;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: -5px;
}

.hero-subtitle {
  font-family: var(--fontfamily);
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFFCC;
  margin-bottom: 0px;
}

.hero-button {
  font-family: var(--fontfamily);
  font-size: 14px;
  font-weight: 400;
  color: #181818;
  text-align: center;
  background-color: #FDDE67;
  border-radius: 6px;
  padding: 16px 40px;
  border: none;
  position: absolute;
  left: -10px;
  z-index: 2;
  margin-top: 20px;
  text-decoration-line: none;
}

.pic-collection {
  position: relative;
  width: 305.56px;
  height: 391px;
  margin: 0px auto;
}

.circle1 {
  width: 192.63px;
  height: 192.63px;
  background-color: #1B2D22;
  border-radius: 50%;
  position: absolute;
  left: 105px;
  top: 78px;
}

.circle2 {
  width: 198.55px;
  height: 198.55px;
  background-color: #1B2D22;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 140px;
}

.pic-collection input {
  display: none;
}

.pic-collection .images {
  position: relative;
}

.pic-collection .images img {
  position: absolute;
  left: 50px;
  top: 30px;
  width: 208px;
  height: 391px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#item1:checked ~ .images img:nth-of-type(1) {
  opacity: 1;
}

#item2:checked ~ .images img:nth-of-type(2) {
  opacity: 1;
}

#item3:checked ~ .images img:nth-of-type(3) {
  opacity: 1;
}

.select-img {
  position: absolute;
  top: 337px;
  left: 120px;
  display: flex;
  gap: 17px;
}

.select-size {
  width: 14px;
  height: 14px;
  background-color: #FFFFFF33;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

#item1:checked ~ .select-img label:nth-child(1),
#item2:checked ~ .select-img label:nth-child(2),
#item3:checked ~ .select-img label:nth-child(3) {
  background-color: white;
  transform: scale(1.2);
}

.horizontal-menu {
  width: 100%;
  background-color: #FDDE67;
  margin-top: -20px;
  position: sticky;
  z-index: 3;
}

.horizontal-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  margin: 0;
}

.menu-img {
  width: 24px;
  height: 24px;
}
